html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

:root {
  --active-indicator-width: 700px;
  --icon-width: 26px;
  --icon-margin-right: 9px;
  --menu-padding-horizontal: 29px;
  --menu-padding-vertical: 20px;
  --active-indicator-extra-length: 12px; /* We want the indicator to be longer than the actual buttons themselves, this length is added to both sides of the indicator */
  --space-between-icons: 32px;
}

@media (max-width: 600px) {
  :root {
    --active-indicator-width: 80px;
    --icon-margin-right: 7px;
    --menu-padding-horizontal: 24px;
  }
}
body {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background: #7D92E0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  background: #fff;
  padding: var(--menu-padding-vertical) var(--menu-padding-horizontal);
  display: flex;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;

}

.nav__active-indicator {
  position: absolute;
  top: 50%;
  margin-left: calc(
    var(--menu-padding-horizontal) - var(--active-indicator-extra-length)
  );
  left: 0;
  transform: translateY(-50%);
  width: calc(
    var(--active-indicator-width) + var(--active-indicator-extra-length) * 2
  );
  height: calc(100% - var(--menu-padding-vertical));
  background: #7D92E1;
  z-index: 10;
  border-radius: var(--active-indicator-width);
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.nav__item {
  margin-left: var(--space-between-icons);
  position: relative;
  z-index: 20;
}

.nav__item:first-child {
  margin-left: 0;
}

button {
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: var(--icon-width);
  transition: width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); /* I knowwww, don't animate width, but it doesn't actually look jittery in this case - so maybe it just works in this case? If not there are alternatives we can try */
  outline: none;
  position: relative;
  background: transparent;
}

.active {
  width: var(--active-indicator-width);
}

.icon {
  display: block;
  margin-right: var(--icon-margin-right);
  flex-shrink: 0;
  width: var(--icon-width);
  height: var(--icon-width);
}

.icon path {
  fill: #a6adb1;
  transition: fill 0.2s;
}

.active .icon path {
  fill: #000;
}

.text {
  display: block;
  color: rgba(0, 0, 0, 0);
  pointer-events: none;
  font-size: 0;
}

.text:after {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--active-indicator-width);
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  padding-left: calc(var(--icon-width) + var(--icon-margin-right));
  transition: opacity 0s;
}

.slide-right .text:after {
  left: 0;
  right: auto;
}
.slide-left .text:after {
  right: 0;
  left: auto;
}

.active .text:after {
  opacity: 1;
  transition: opacity 0.4s;
}
